*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(101, 84, 84, 0.424),rgba(61, 142, 145, 0.442)),url(Image/bus-trips.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding: -200%;
    width: 100px;
    display: flex;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.navbar ul li a:hover{
    color: rgba(253, 213, 34, 0.798);
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px; 
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}

.content{
    text-align: center;
    width: 100%;
    height: auto;
    margin: auto;
    color: #f8f8f8;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content span{
    color: #ff7200;
    font-size: 60px;
}

.form{
    text-align: center;
    width: 240px;
    height: 320px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)40%, rgba(0,0,0,0.8)40%);
    position: absolute;
    top: 100px;
    left: 650px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #d2cccc;
    border-right: none;
    border-left: none;
    color: #fff;
    font-style: oblique;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}
.btn{
    width: 240px;
    height: 40px;
    margin-top: 20;
    border: black;
    padding: 10px 35px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s ease;
    /* background-color: rgba(255, 149, 0, 0); */
    background-color: #ff7200;
    border: 1px solid rgb(228, 140, 24);
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    border: #000000;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 247, 247);
    box-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(236, 236, 236);
    font-weight: bold;
}
.btn a{
    font-style: italic;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #d85252;
}
