*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
header{
    color: var(--second-color);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease;
    background: var(--second-bg-color);
}
.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0px 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
.navlist a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
section{
    padding: 160px 15% 120px;
}

/* HOME */
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    /* background-image: url(IMG20190722193724.jpg); */
    background-color: #202020;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.slide{
    margin-bottom: 20px;
}
.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}
.two{
    display: inline-block;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}
.home-text h1{
    font-size: var(--h2-font);
    font-weight: 700;
    color: var(--text-color);
    list-style: 1.1;
    margin: 0 0 8px;
}
.home-text h3{
    color: var(--text-color);
    list-style: 1.1;
    margin: 0 0 35px;
    font-style: 3rem;
    font-weight: 700;
    line-height: 1.1;
}

/* ABOUT */
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    max-width: 330px;
    height: auto;
    width: 100%;
    border-radius: 10px;
}
.about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
    padding-bottom: 30px;
}
.about-text p{
    font-size: var(--p-font);
    line-height: 1.8;
    justify-content: stretch;
    margin-bottom: 4rem;
}
.about a{
    font-style: unset;
    border: none;
    font-style: var(--second-color);
    display: inline-block;
    background: #202020;
    color: #fff;
    font-size: 20px;
    padding: 5px 20px ;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid rgb(197, 65, 65);
    transition: all 0.3s ease;
}
.about a:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* SKILLS */
.skills{
    padding: 20px;
    background: var(--second-bg-color);
    color: #fff;
}
.max-width{
    text-align: center;
    margin-top: 10%;
}
.max-width h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.skills-content{
    padding-left: 350px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
    padding-bottom: 10%
}
.right{
    align-content: center;
    width: calc(100% - 330px);
}
.right .bars{
     margin-bottom: 15px;
}
.info{
    display: flex;
    justify-content: space-between;
}
.skills .skills-content .right .bars .info{
    font-weight: 500%;
    font-size: 20px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgb(230, 143, 80);
}
.skills .skills-content .right .python::before{
    width: 80%;
}
.skills .skills-content .right .mysql::before{
    width: 70%;
}
.skills .skills-content .right .html::before{
    width: 70%;
}
.skills .skills-content .right .css::before{
    width: 50%;
}
.skills .skills-content .right .oops::before{
    width: 70%;
}
.skills .skills-content .right .aws::before{
    width: 40%;
}

/* EDUCATION */
.education{
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 20px;
    display: grid;
    align-items: center;
    gap: 1.5rem;
}
.education h1 {
    padding: 20px;
    line-height: 1;
    color: black;
    text-align: center;
    font-size: var(--h2-font);
}
.education h2 {
    /* padding: 20px; */
    line-height: 1;
    color: var(--text-color);
    font-size: 23px;
}
.education ul {
    background-color: var(--second-bg-color);
    margin-left: 15em;
    margin-right: 10em;
    padding: 20px 40px;
    border-radius: 10px;
}
.education ul li{
    font-size: 18px;
    font-weight: 600;
    color: var(--second-color);
    margin-bottom: 15px;
}


/* CONTACT */
.contact{
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.contact-text h2{
    color: var(--text-color);
    margin-bottom: 20px;;
    font-size: var(--h2-font);
    line-height: 1;
}
.list{
    margin-bottom: 14px;
}
.list li{
    margin-bottom: 14px;
}
.list li a{
    display: block;
    color: var(--second-color);
    font-size: 16px;
    transition: all .45s ease;
}
.list li a:hover{
    color: var(--text-color);
    transform: translateX(5px);
}
.contact-icons i{
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}
.contact-icons i:hover{
    background: var(--text-color);
    color: var(--bg-color);
}
.contact-form form{
    position: relative;
}
.contact-form form input, form textarea{
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.contact-form textarea{
    resize: none;
    height: 250px;
}
.contact-form .submit{
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}
.contact-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
}